@inject HttpClient Http

@page "/"

<div id="home">
    
    @*
    <div id="introduction">
        <h2>Aspiring Software Engineer and Mathematician</h2>
    </div> *@

    <!---Flexcontainer to 1row-3col-->
    <!--flexitem to 1row-col-col-->
    <div>
        <h2>Welcome</h2>

        <p>
            I am passionate about software development, architecting scalable solutions, and writing concise code. Being able to develop something useful and seeing it works make me happy.

            Through college and work experience, I developed many projects using diverse technologies like C#, Haskell, Prolog, Java, JavaScript, AWS, LISP, Docker, GitHub, and relational databases. Some of the fields I have been fortunate to work in include:
        </p>

        <p> Internet of Things, with the focus on LoRaWAN devices</p>
        <p>Authentication and authorization in systems with millions of users</p>
        <p>Web development</p>
        <p> Tailored graph algorithms and data dtructures</p>
        <p>Designing scalable, safe cloud solutions</p>
 
    </div>

    <div>
        <h2>Projects</h2>
        <p>
            The primary purpose of this site is to showase my projects and give some infromation about me.
            The projects are done independently, as a part of schoolwork or an online course. If you have any question regarding my projects,
            feel free to email me.
        </p>
        <p>
            As I will be working on more projects, the site will grow. Later, I might adopt some of projects for the web,
            so the users can test them on the web. This should free them from the pain of installing the software from GitHub and configuring it.
        </p>
    </div>

        <div>
        <h2>Courses</h2>

        @if (_universityCourses!=null)
        {
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">

                    @while (elementCount<elementMax)
                    {
                        if (elementCount<_universityCourses.Count)
                        {
                            Console.WriteLine(elementCount);
                            <tr>
                                <td class="gray-background">@_universityCourses[elementCount].Name</td>
                                <td class="gray-background">@_universityCourses[elementCount].Description</td>
                            </tr>
                        }

                        elementCount++;
                    }

                </tbody>
            </table>

            @if (elementMax<_universityCourses.Count)
            {
                <div>
                    <span onclick="@LoadMore"><button type="button" class="btn btn-primary">Load more</button> </span>
                </div>
            }
        }
    </div>
</div>

@code {
    private int elementMax = 5;
    private int elementCount = 0;
    private List<Course>? _universityCourses;

    protected override async Task OnInitializedAsync()
    {
        _universityCourses= await Http.GetFromJsonAsync<List<Course>>("/pages/dataJSON/universityCourses.json");
    }

    private void LoadMore()
    {
        elementCount=0;
        elementMax=elementMax+5;
    }

}
