@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar blue-gradient">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@*
 <footer>
     <span> <i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/umidmuzrapov/">linkedin</a></span>
     <span><i class="bi bi-github"></i> <a href="https://github.com/umidmuzrapov">github</a></span>
     <span><i class="bi bi-code"></i> <a href="https://www.hackerrank.com/dashboard">hackerrank</a></span>
     <span> <i class="bi bi-envelope-at"></i> <a href="mailto:umidmuzrapov@arizona.edu?subject=please enter the subject field.">send email</a></span>
 </footer>*@

