<div class="myMenu">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Menu</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-code" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <i class="bi bi-award"></i> Skills
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.linkedin.com/in/umidmuzrapov/">
                <i class="bi bi-linkedin"></i> LinkedIn
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.hackerrank.com/dashboard">
                <i class="bi bi-code"></i>HackerRank
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/UmidMuzrapov">
                <i class="bi bi-github"></i>GitHub
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mailto:umidmuzrapov@arizona.edu?subject=Please enter the subject field.">
                <i class="bi bi-envelope-at"></i>Send Email
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    bool _showDropDown = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleClick()
    {
        _showDropDown=true;
    }
}
