@inject HttpClient Http
@using pages
@page "/skills"

<div id="skills">
    @if (_skills==null)
    {
    
    }

    else
    {
        <div class="row-infinity-col6-disconnected">
            @foreach (var skill in _skills)
            {
                <SkillCard Skill="@skill"></SkillCard>
            }
        </div>
    }
</div>
@code {

    private List<Skill>? _skills;

    protected override async Task OnInitializedAsync()
    {
        var url = Http.BaseAddress + "/dataJSON/skills.json";
        _skills = await Http.GetFromJsonAsync<List<Skill>>(url);
    }
}
